{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>JAMA | {{$.Title}}</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
{{end}}

{{define "footer"}}
  <div id="footerDiv">
    <p>
      Some footer Text
    </p>
  </div>
  </body>
  </html>
{{end}}
