{{ template "header" .Title}}
<table border="1px solid black">
  {{ range $key, $value := .MediaTitleAndSource}}
    <tr>
      <td>
        <a href="{{ $value }}">{{ $key }}</a>
      </td>
    </tr>
  {{ end}}
</table>
{{ template "footer" }}
